html, body {
    height: 100%;
    margin: 0px;
    /* overflow: hidden; */
  }

#webGl {
  position:absolute;
  /* margin-top:8%; */
  height:88%;
  width:100%;
}

  canvas {
    width: 100%;
    height: 100%;
    display: inline;
    position: absolute;
    z-index:1;
  }

#stars {
    display: inline;
    position: absolute;
    z-index:0;
}

  /* .pew-pew {
    position: sticky;
    top: 10px;
    text-align: center;
    z-index: 100;
    display:inline;
    color:white;

  } */

  #buttonHolder {
    text-align:center;
    position:relative;
  }

  h2 {
    margin:3px;
  }

  h5 {
    margin:3px;
    padding:3px;
  }

  /* __________Slider CSS __________*/
.level-value {
  border-bottom: 4px dashed #bdc3c7;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  width: 300px; 
  height: 40;
  margin: 8px auto;
  letter-spacing: -.07em;
  text-shadow: white 2px 2px 2px;
}
input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 300px;
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e74c3c;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;
}​
  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #e74c3c;
  }
  input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
  }
  /* __________End Slider CSS__________ */

  /* #pointsCounter {
    float:right;
    padding-right:10%;
  } */

  /* #level-wrapper {
    float:left;
  } */

  .game-started {
    color:green;
  }